.App {
  text-align: center;
}

.head {
  background-color: #007bff;
}
.error {
  color: red;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table {
  height: 40vh;
}

/* tr{

} */

.App-link {
  color: #61dafb;
}

.active {
  color: white;
  background: #007bff;
}

.btn-none {
  border: none;
  background: none;
}

/* .fixPagination {
  position: relative;
  bottom: 10px;
} */

/* .fas {
  margin-right: 1ch;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* //Responsive */
@media (max-width: 500px) {
  .flex {
    display: flex;
  }
  /* .page-link {
    height: 1px;
    width: 1px;
    font: 1px;
  }

  .btn-link {
    font: 20px;
    height: 1px;
    width: 1px;
  } */

  /* .d-flex {
    height: 1px;
  } */

  /* .modal {
    background: rgb(247, 119, 119);
  } */

  body {
    background: rgb(199, 198, 198);
    font-size: 1ch;
  }
  .fa-trash-alt {
    height: 8;
    width: 10;
  }
  .fas {
    margin-right: 1ch;
  }
  .btn {
    font-size: 8px;
  }
  .table {
    height: 20vh;
  }
  /* .mb-3 {
    width: 10px;
  } */
}

@media (max-width: 445px) {
  .fa-trash-alt {
    display: none;
  }
  .fas {
    display: none;
  }
}
